html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}
h1 {
    display: flex;
    justify-content: center;
    text-shadow: #511717 0px 0px 5px;
    font-size: 2em;
    font-weight: bold;
    color: #2e2a2a;
    margin-bottom: 0.5em;
    text-align: center;
    font-family:fantasy;
    letter-spacing: 1px;
    text-decoration: solid;
    background-color: aqua;
}
section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: red;
    padding: 20px;
}
.clock-section {
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}

.reloj-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: auto;
    background-color: #2e2a2a;
    padding: 1em;
    border-radius: 10px;
    color:#fff;
}
#reloj-container .date, .time, .phrases {
    padding: 2%;
}
.date {
    margin-bottom: 1em;
}

.phrases {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}


.weather-section {
    justify-content: flex-start;
    align-items: flex-start;
    height: auto; 
}
.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: auto;
    background-color: violet;
    padding: 1em;
    border-radius: 10px;
}
.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 1px;
    padding-right:11px;
    padding-left: 12px;
    border-radius: 10px;
    margin-left: 2px;
}
.current-weather h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70px;
    margin-right: 240px;
}
.current-data{
    display: flex;
}
.current-degrees img {
    width: 5em;
    height: 5em;
    margin-right: 21em;
    margin-top: 10px;
}
.current-degrees p {
    padding: 0.5em;
    margin-right: 21em;
    text-align: center;
}
.weather-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10em;
    height: auto;
    padding: 1em;
    margin-top: 10px;
    margin-left: -290px;
}
.hourly-forecast-container{
    display: flex; 
    overflow-x: scroll;
    width: 315px;
    height: 10em;
    align-items: center;
}
.hourly-forecast {
    text-align: center;
    margin-top: 1em;
    width: 5em;
    padding: 0.5em;
}
.hourly-forecast .time {
    text-align: center;
    margin-top: 1em;
    width: 5em;
    border: none;;
}



.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    border: 1px solid black;
    padding: 70px;
    width: 10em;
    margin-top: -635px;
    
}
#password-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 15px;
}
.password-input {
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.password-input input {
    width: 35px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: -3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85px;
    height: auto;
    background-color: #2e2a2a;
    padding: 6px;
    border-radius: 10px;
    color:#fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.display-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1em;
    border-radius: 10px;
    color:#fff;
    margin-bottom: -3em;
}
.new-password {
    margin-bottom: 12px;
}
.password-display{
    margin-bottom: 12px;

}
.recommendation {
    margin-bottom: 12px;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100em;
    height: auto;
    background-color:chartreuse;
    padding: 1em;
}
.storage-btn {
    width: 85px;
    height: auto;
    background-color: #2e2a2a;
    padding: 6px;
    border-radius: 10px;
    color:#fff;
    font-weight: bold;
    margin-bottom: 10px;
}
#input .escribe-url {
    width: 9em;
    padding: 5px;
    margin-bottom: 13px;
    margin-top: -3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
#input .escribe-nombre {
    width: 9em;
    padding: 5px;
    margin-bottom: 13px;
    margin-top: -3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}